<h1>Show</h1>

<%= @user.name %>
<%= @user.email %>

<h3>Events Created</h3>
<ul>
  <% @user.events.each do |event| %>
    <li><%= link_to event.title, event_path(event) %></li>
  <% end %>
</ul>

<hr>

<h3>Previous Events</h3>
<ul>
  <% @user.previous_events.each do |event| %>
    <li><%= link_to event.title, event_path(event) %></li>
  <% end %>
</ul>

<h3>Upcoming Events</h3>
<ul>
  <% @user.upcoming_events.each do |event| %>
    <li><%= link_to event.title, event_path(event) %></li>
  <% end %>
</ul>
